.formfile {
    display: grid;
    width: 50%;
    grid-template-rows: repeat(1,100px);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
      "file1 file1"
      "file2 file2"
      "file3 file3 "
      "file5 file5"
      "file6 file6"
    ;
    align-items: center;
    gap: 20px;

.file1 {
    grid-area: file1;
   
  }

  .file2 {
    grid-area: file2;
  }

  .file3 {
    grid-area: file3;
  }

  .file4 {
    grid-area: file4;
  }

  .file5 {
    grid-area: file5;
  }

  .file6 {
    grid-area: file6;
  }

}